#shoppingcart {
    position: absolute;
    right: 0;
}
.nav-item.active {
    font-weight: bold;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #212529;
}

h1, h2, h3 {
    color: black;
}


.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.img-fluid {
    width: auto;
    height: 200px;
    border-radius: 10px;
}

.center-button {
    text-align: center;
}

.add-to-cart-button {
    background-color: green;
    border-color: darkgreen;
}

.add-to-cart-button:hover {
    background-color: darkgreen;
}

.add-to-cart-button:not(:disabled):active {
    background-color: darkgreen;
}

.proceed-to-checkout {
    background-color: rgb(231, 231, 37);
    border-color: yellow;
    color: black;
}

.proceed-to-checkout:hover {
    background-color: rgb(206, 206, 26);
    color: black;
}

.proceed-to-checkout:not(:disabled):active {
    background-color: rgb(210, 210, 15);
}

.return-to-cart {
    color: rgb(221, 221, 221);
}

.return-to-cart:hover {
    color: white;
}

.bold {
    font-weight: bold;
}

.rounded-border {
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}

.box {
    border-bottom: 2px solid black;
    padding: 15px;
    margin: 10px;
}

.required {
    color: red;
    font-weight: bold;
}

.order-total {
    font-weight: bold;
    color: rgb(200, 35, 35);
}

.place-order-button {
    width: 100%;
    background-color: rgb(39, 105, 218);
}





