#shoppingcart {
    position: absolute;
    right: 0;
}
.nav-item.active {
    font-weight: bold;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #212529;
}

h1, h2, h3 {
    color: #3089e8;
}


.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.img-fluid {
    width: auto;
    height: 200px;
    border-radius: 10px;
}

.center-button {
    text-align: center;
}

.add-to-cart-button {
    background-color: green;
    border-color: darkgreen;
}

.add-to-cart-button:hover {
    background-color: darkgreen;
}

